:root {
  --primary-color: #e67e22;
  --secondary-color: #cf711f;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  /* default- font-size:16px; */
  /* font-size:10px; */
  /* IN percentage 10/16=0.625 */
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.container {
  max-width: 130rem;
  padding: 5.4rem 3.2rem 2.4rem 3.2rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
}

.grid:not(:last-child) {
  margin-bottom: 9.6rem;
}
.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}
.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}
.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}
.grid--5-cols {
  grid-template-columns: repeat(5, 1fr);
}
.grid--center-v {
  align-items: center;
}
.heading-primary,
.heading-secondary,
.heading-tertiary {
  color: #333;
  font-weight: 700;
  letter-spacing: -0.5px;
}
.heading-primary {
  font-size: 5.2rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
}
.heading-secondary {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
}
.subheading {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  color: #cf711f;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75;
}
.heading-tertiary {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}

.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;

  border: none;
  cursor: pointer;
  font-family: inherit;
  transition: all 0.3s;
}
.btn--full:link,
.btn--full:visited {
  color: #fff;
  background-color: #e67e22;
}
.btn--full:hover,
.btn--full:active {
  background-color: #cf711f;
}
.btn--outline:link,
.btn--outline:visited {
  color: #555;
  background-color: #fff;
}

.btn--outline:hover,
.btn--outline:active {
  color: #333;
  background-color: #fdf2e9;
  /* border: 3px solid #fff; */

  /* trick to add border ; */
  box-shadow: inset 0 0 18px rgb(135, 124, 124);
}
.btn--form {
  color: #fdf2e9;
  background-color: #45260a;
  align-self: end;
  padding: 1.2rem;
}
.btn--form:hover {
  background-color: #fff;
  color: #555;
}

.link:link,
.link:visited {
  display: inline-block;
  color: #e67e22;
  text-decoration: none;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  transition: all 0.3s;
}
.link:hover,
.link:active {
  color: #cf711f;
  border-bottom: 1px solid transparent;
}
.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.list-item {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
  line-height: 1.2;
}
.list-icon {
  color: #e67e22;
  height: 3rem;
  width: 3rem;
}

*:focus {
  outline: none;
  /* box-shadow: 0 0 0 0.5rem #f58b2f; */
}
.center-text {
  text-align: center;
}
strong {
  font-weight: 500;
}
.sticky {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 8rem;
  padding-top: 0;
  padding-bottom: 0;
  background-color: rgb(253, 243, 233, 0.97);
  z-index: 999;
}
.flex {
  display: flex;
}
